<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="icon" href="../static/bd.png" type="image/icon type">
    <title>DP</title>
  </head>
  <body>
    <div class="container">
      <img src="../static/bd.png" alt="Lexus" class="logo" />
      <h1> Differential Privacy </h1>
      <form action="/submit" method="POST" enctype=multipart/form-data>
        <h3>Upload your file</h3>
        <div class="form-group">
          <input
            type="file"
            name="file"
          />
        </div>
        <input type="submit" value="Upload" class="btn" />
      </form>
    </div>
  </body>
</html>